parameters:
    ignoreErrors:
        -
            message: '/Parameter \#1 \$filename of function unlink expects string, string\|false given\./'
            path: %currentWorkingDirectory%/src/Command/CleanDirectoriesCommand.php
        -
            message: '/Parameter \#1 \$path of method Chubbyphp\\Config\\Command\\CleanDirectoriesCommand\:\:cleanDirectory\(\) expects string, string\|false given\./'
            path: %currentWorkingDirectory%/src/Command/CleanDirectoriesCommand.php
        -
            message: '/Argument of an invalid type array\|bool\|float\|int\|string supplied for foreach, only iterables are supported\./'
            path: %currentWorkingDirectory%/src/ServiceFactory/ConfigServiceFactory.php
        -
            message: '/Argument of an invalid type array\|bool\|float\|int\|string supplied for foreach, only iterables are supported\./'
            path: %currentWorkingDirectory%/src/ServiceProvider/ConfigServiceProvider.php

